@model dynamic

<div class="easyui-panel" title="New Topic" style="width:100%;padding:30px 160px;margin: 50px auto">
    <form id="newActionForm" method="post">
        <div style="margin-bottom:20px">
            权限名：<input class="easyui-textbox" name="ActionInfoName" style="width:100%" data-options="required:true">
        </div>
        <div style="margin-bottom:20px">
            请求方法：@*<input class="easyui-textbox" name="HttpMethod" style="width:100%" data-options="type:'text'">*@
            <select id="cc" class="easyui-combobox" name="HttpMethod" style="width:200px;">   
                <option value="get">get</option>   
                <option value="post">post</option>   
            </select>
        </div>
        <div style="margin-bottom:20px">
            URL：<input class="easyui-textbox" name="Url" style="width:100%" >
        </div>
        <div style="margin-bottom:20px">
            权限类别：
            <select id="cc" class="easyui-combobox" name="ActionTypeEnum" style="width:200px;">   
                <option value="1">菜单权限</option>   
                <option value="0">非菜单权限</option>   
            </select>  
        </div>
        <div style="margin-bottom:20px">
            备注：<input class="easyui-textbox" name="Remark" style="width:100%" >
        </div>
    </form>
    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">Submit</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
    </div>
</div>
<script>
    
    
    $("#newActionForm").form({
        url:"/Action/AddAction",
        method:"post",
        success:function (data) {
            if(data==="ok"){
                $.messager.show({
                    title:'我的消息',
                    msg:'添加成功。',
                    timeout:2000,
                    showType:'show',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
                $('#dg').datagrid('reload');
            }else if (data === "repeat") {
                $.messager.show({
                    title:'我的消息',
                    msg:'权限名已存在。',
                    timeout:2000,
                    showType:'show',
                    style:{
                        right:'',
                        top:document.body.scrollTop+document.documentElement.scrollTop,
                        bottom:''
                    }
                });
            }
        }
    })
    
    
    function submitForm(){
        $('#newActionForm').form('submit');
    }
    function clearForm(){
        $('#newActionForm').form('clear');
    }

</script>