@model dynamic

<link rel="stylesheet" href="/Content/userControl.css">


<div id="actionWindow" class="easyui-window" title="编辑权限" style="width: 600px; height: 400px" closed="true">
</div>

<table id="dg" class="easyui-datagrid" title="Row Editing in DataGrid" style="width:700px;height:auto"
       data-options="
			iconCls: 'icon-edit',
			singleSelect: true,
			toolbar: '#tb',
			url: '/user/getdata',
			method: 'get',
			onClickCell: onClickCell,
			onEndEdit: onEndEdit,
			pagination:true
		">
    <thead>
    <tr>
        <th data-options="field:'ID',width:80">编号</th>
        <th data-options="field:'UName',width:100,editor:'textbox'">用户名</th>
        <th data-options="field:'remark',width:80,align:'right',editor:'textbox'">备注</th>
        <th data-options="field:'changeTime',width:250">修改时间</th>
    </tr>
    </thead>
</table>

<div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
       onclick="append()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
       onclick="removeit()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
       onclick="accept()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"
       onclick="editAction()">编辑权限</a>
    <!--    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">Reject</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a>-->
</div>

<script type="text/javascript">
    var editIndex = undefined;

    function endEditing() {
        if (editIndex == undefined) {
            return true
        }
        if ($('#dg').datagrid('validateRow', editIndex)) {
            $('#dg').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onClickCell(index, field) {
        if (editIndex != index) {

            /*            if (field === "changeTime") {
                            return
                        }*/

            if (endEditing()) {
                $('#dg').datagrid('selectRow', index)
                    .datagrid('beginEdit', index);
                var ed = $('#dg').datagrid('getEditor', {index: index, field: field});
                // console.log(ed);
                if (ed) {
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                }
                editIndex = index;
            } else {
                setTimeout(function () {
                    $('#dg').datagrid('selectRow', editIndex);
                }, 0);
            }
        }
    }

    function onEndEdit(index, row) {

        console.log(row);

        $.ajax({
            url:"/user/EditUser",
            method:"post",
            data:row,
            success:function (data) {
                console.log(data);
            }
        })

        // row.productname = $(ed.target).combobox('getText');
    }

    function append() {

        $.insdep.window({id:"new-role",href:"/user/AddUser",title:"添加新用户",method:"get"})
        // $.insdep.window({ id: "personal-set-window", href: "user.html", title: "修改资料" });

    }

    function removeit() {
        if (editIndex == undefined) {
            return
        }

        var row = $("#dg").datagrid('getSelected');
        console.log(row);
        $('#dg').datagrid('cancelEdit', editIndex)
            .datagrid('deleteRow', editIndex);


        $.ajax({
            url: "/user/DeleteUser",
            data:{id:row.ID},
            success: function (data) {
                console.log(data);
            }

        });


        editIndex = undefined;

    }

    function accept() {
        if (endEditing()) {
            $('#dg').datagrid('acceptChanges');
        }
    }
    
    
    
    function editAction() {
        $("#actionWindow").window('open');
        var row = $("#dg").datagrid("getSelected");
        console.log(row)        
        $("#actionWindow").window("refresh", "/User/ShowUserAction?id="+row.ID);
    }




    var pager = $('#dg').datagrid().datagrid('getPager');   // get the pager of datagrid
    console.log(pager);
    pager.pagination({
        buttons: [{
            iconCls: 'icon-search',
            handler: function () {
                alert('search');
            }
        }, {
            iconCls: 'icon-add',
            handler: function () {
                alert('add');
            }
        }, {
            iconCls: 'icon-edit',
            handler: function () {
                alert('edit');
            }
        }]
    });


</script>


<script>
    initHead("用户列表");


    $.parser.parse('#control');

</script>